@charset "UTF-8";
/* デフォルト */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

/*  */
.header {
  width: 100%;
  height: 60px;
  -webkit-box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.5);
}

.header > .container {
  display: flex;
  position: relative;
}

.burger_btn {
  margin-left: 20px;
  width: 60px;
  position: absolute;
  top: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.burger_btn > img {
  width: 50px;
  height: 50px;
}

.burger_btn::before {
  content: "";
}

.header_logo {
  margin-left: 120px;
  position: absolute;
  top: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header_logo > img {
  height: 60px;
}
.header_titile{
  margin-left: 40%;
  position: absolute;
  top: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header_menu {
  position: absolute;
  right: 3%;
  top: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header_menu ul {
  display: flex;
}

.header ul > li {
  margin: 8px;
}

/* side bar  */
.sidebar{
  flex: 0 0 240px;
  overflow-y: scroll;
　height: 100vh;
}
.sidebar .box{
  padding: 30px 0 5px 0;
  border-top: 1px solid #ccc;
}
.sidebar　.box + .box{
    border-top: 1px solid #ccc;
}
/* サイドバーのナビリスト */
.list_nav_sidebar a{
  display: flex;
  align-items: left;
  height: 40px;
  position: relative;
  padding: 0 0 0 60px;
}
span{
  font-size: 12px;
}
/* .list_nav_sidebar  a:before{
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%) ;
  border-radius: 50%;
} */


/* サイドバーログイン */
.area_register_sidebar{
  padding: 10px 30px;
}
.area_register_sidebar .descripution{
  font-size: 14px;
  line-height: 1.5em;
}

/* main a */
.main{
  background-color: #f9f9f9;
  flex: auto;
  min-width: 10px;
  padding-bottom: 14px;
}
.main .box {
  padding: 30px 0;
}
.main .box + .box{
  border-top: 3px solid #ccc;
}

.list_contents{
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
  /* justify-content: space-around; */
}
.list_contents > li{
  width: 24%;
  margin: auto;
  padding-bottom: 12px;
  margin-left: ;
}
.list_contents .art_thumb {
  width: 95%;
  background: gray;
}
.list_contents .art_thumb:before{
  content: "";
  display: block;
  width: 100%;
  padding-top: 56.25%;
}
/* レイアウト */
.list_contents .layout{
  display: flex;
  margin: 10px 0 0;
}
/*  */
.list_contents .eye_c{
  flex: 0 0  40px;
  margin: 0 10px 0 0;
}

.list_contents .img{
  width: 100%;
  border-radius: 50%;
  background: gray;
}
.list_contents .img::before{
  content: "";
  display: block;
  width: 100%;
  padding-top: 100%;


}
.list_contents .text{
  flex: auto;
  min-width: 10px;
}
.list_contents .text .ttl{
  font-size: 15px;
}
.list_contents .text .user{
  font-size: 14px;
}
.list_contents .text .count_view{
  font-size: 13px;
}
/* ページレイアウト */
.page_layout{
  display: flex;
}















.card {
  margin: 30px auto;
  width: 350px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}
.card-img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}
.card-content {
  padding: 20px;
}
.card-title {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}
.card-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}
.card-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
}
.card-link a {
  text-decoration: none;
  color: #0bd;
  margin: 0 10px;
}
.card-link a:hover {
  color: #0090aa;
}